<!--Buscador de recetas, traidas desde la base de datos de MongoDB-->
<article id="search">
    <form action="recipes" method="get">
        <div class="form-group">
            <label for="formGroup"><h2 style="margin-bottom: 20px;">Busca entre cientos de Recetas Magistrales y Sintesis Quimicas</h2></label>
            <input type="search" class="form-control" id="formGroup" placeholder="Buscador" style="margin-bottom: 10px;" name="recetas">
            <input type="submit" class="btn btn-info" id="insColor" style="margin-top: 15px;" onclick="Search()"></button>
        </div>
    </form>

    {{#if mensajeError}}
    <h3>{{mensajeError}}</h3>
    {{else}}

    {{#each listaRecetas}}
        <div class="jumbotron" id="Recetario">
            <h2>Nombre:  {{this.Nombre}}</h2>
            <ul>
                <li>Reactivos:  {{this.Reactivos}}</li>
                <li>Material:  {{this.Material}}</li>
                <li> Procedimiento:
                    <ol>
                         {{#each this.Procedimiento}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ol>
                <li>Usos: {{this.Usos}} </li>
            </ul>
        </div>
    {{/each}}
    
    {{/if}}

    <script>
        function Search() {
            let url = "/recipes?"
            let recipe = document.getElementById("recetas").value;

            if (recipe){
                url += "recetas" + recetas;
            }
            location = url;
        }
        
    </script>
</article>
